.fd-debug{
    border: 1px solid red;
}

:root {
	--color-bg-main: #b91547;
	--color-bg-passenger: #757575;
}

body {
    background-color: black;
}

.box{
    width: 1000px;
    height: 500px;
    border: 1px solid red;
    margin: 30px auto;
    background-color: var(--color-bg-main);
}

.container-small {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.title-ticket {
    width: 100%;
}

h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: var(--color-bg-main);
    font-weight: lighter;
}

button {
    border: 1px solid black;
    color: var(--color-bg-main);
    font-weight: bold;
}

.card-top {
    background-color: white;
    border-radius: 15px;
    height: 150px;
}

.card-bottom {
    background-color: white;
    border-radius: 5px;
    width: 700px;
    height: 150px;
    margin: 0 auto;
}

.container-input {
    display: flex;
    justify-content: space-around;
}

.input-rectangle {
    width: 150px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid red;
    text-align: center;
}

.form-select {
    width: 150px;
    height: 22px;
    border-radius: 15px;
    border: 1px solid red;
}

.margin-top {
    margin-top: 20px;
}

.btn-new {
    color: red;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-new:hover {
    border: 1px solid orange;
}

.tab-left {
    width: 30%;
}

.tab-right {
    width: 70%;
}

.disappear {
    /* display: none; */
}

.display-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fran-table{
    border: 1px solid black;
    width: 650px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: 25px;
    left: 0px;
    border-right: none;
}

.table-width {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.bg-gray {
    background-color: #757575;
}

th {
    height: 50%;
}

td {
    height: 50%;
}


